python-dotenv==1.1.1
ipykernel
langchain==0.3.27
langchain-groq==0.3.7
langchain-huggingface==0.3.1
langchain-community==0.3.28
langchain-astradb==0.6.1
pypdf==6.0.0
pandas==2.3.2
datasets==4.4.2
Flask==3.1.2
prometheus-client==0.23.1